<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="AdemirDBConnectionString" connectionString="Data Source=ADIK-PC\SQLExpress;Initial Catalog=AdemirDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SanjayDBConnectionString" connectionString="Data Source=SANJAY\SQLEXPRESS;Initial Catalog=SanjayDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
    <add key="ScriptResourceMapping" value="jquery"/>
  </appSettings>
</configuration>